.ima-plugin[data-ima]
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  text-align: left
  z-index: 10000 /* media-control z-index is 9999 */
  .ima-ad-container[data-ima]
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
